@import url(style.css);


        .dodo {
            display: flex;
        }

        .fotos {
            display: flex;
            column-gap: 70px;
            width: 100%;
            background-color: aquamarine;
            justify-items: justify;
            box-sizing: border-box;
            padding: 30px 100px;
        }

        .imag {
            height: 200px;
            width: 150px;
            background-color: blueviolet;
        }

        button {
            height: 40px;
            width: 60px;
            box-sizing: border-box;
            margin-left: -100px;
            margin-top: 140px;
        }